.Auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('../../assets/login-background.svg') no-repeat;
    background-position: 15vw 7vh;
    background-size: 100vw 100vh;
}

.AuthLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 460px;
    width: 50vw;
    background: white;
    box-shadow: 0 0 15px #00000029;
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;

    .Input:not(.no-margin) {
        margin-top: 25px;
    }

    .Logo,
    h3 {
        align-self: flex-start;
    }

    h3 {
        margin-bottom: 50px;
        font-weight: 100;
        font-size: 21px;
    }

    .auth-action {
        margin-top: 50px;
    }

    @media screen and (max-width: 600px) {
        & {
            width: 100vw;
            height: 100vh;
        }
    }
}
