.Input {
    border: none;
    outline: none;
    background: none;
    color: inherit;
    font: inherit;
    width: 100%;
    height: 50px;
    box-shadow: 0 3px 6px #0000001a;
    padding-left: 25px;
    box-sizing: border-box;
    border-radius: 5px;

    &:disabled {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
