# Build
GENERATE_SOURCEMAP=false

# Application
PORT=5000
JWT_SECRET=secret

# Database
DATABASE_URL=
# or
DATABASE_NAME=tysk
DATABASE_HOST=127.0.0.1

DATABASE_CLIENT=mysql2
DATABASE_USER=root
DATABASE_PASSWORD=

# DATABASE_CLIENT=pg
# DATABASE_USER=postgres
# DATABASE_PASSWORD=

DATABASE_TIMEZONE=UTC
