@import '~/index.scss';

.Loading {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: inherit;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.4);
    color: black;

    .loader {
        $size: 60px;
        $thin: 10px;

        border: $thin solid #f3f3f3;
        border-radius: 50%;
        border-top: $thin solid $primary-color;
        width: $size;
        height: $size;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
